<!--Pages header-->
<nav class="navbar navbar-light">
  <a href="/" class="navbar-brand mb-0 h2">
    <div id="logo">
      <h1 class="h2">DigiBox</h1>
      <p id="tagline" class="small">Africa's Digital Post Office</p>
    </div>
  </a>
  <!-- <div>
      <a href="Business.html"><button class="text-center"><h2>Enterprise</h2></button></a>
    </div> -->
</nav>