<!--Interface for a users dashboard once the user is logged in-->
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary mr-auto sidebar sidebar-dark accordion">
    <a class="sidebar-brand h2" href="/home">
      <p class="h3"> Hi <%= name %>
      </p>
    </a>
    <li class="nav-item">
      <a class="nav-link" href="/inbox">Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/priority">Priority Docs</a>
    </li>
    <hr>
    <form action="/logout?_method=DELETE" method="post">
      <button class="btn btn-primary btn-block" type="submit">Log Out</button>
    </form>
  </ul>

</div>