<!--The landing page for the app when a user accesses the website-->
<!DOCTYPE html>
<html lang="en">

<body>
  <main>
    <div class="container col-lg-12" id="container1">
      <div id="descriptor" class="container col-lg-6">
        <div class="text-center col-md-11">
          <h1 class="h2 text-gray-900 mb-4">Manage your Documents on the Go ...</h1>
        </div>
        <div id="actionList">
          <ul>
            <li>Upload</li>
            <li>Manage</li>
            <li>Print</li>
            <li>Share</li>
            <li>Back-up</li>
          </ul>
        </div>
      </div>

      <div class="container col-lg-6">
        <!--
            <div>
              <form>
                <input type="text" value="Enter Username/Phone Number" id="userName">
                <input type="text">
                <input type="button" value="Log In">
              </form>
            </div>
            -->

        <div class="col-lg-12 mt-2" style="display: flex; flex-direction: row; justify-content: space-evenly;">
          <a type="button" class="btn btn-primary col-lg-3" href="/login">
            <p class="h5"> Log In </p>
          </a>

          <a type="button" class="btn btn-primary col-lg-3" href="/register">
            <p class="h5"> Register </p>
          </a>
        </div>


       <!-- <form action="/upload-document" method="POST" enctype="multipart/form-data"> -->
          <div id="dropzone" class="container col-lg-12">
            <form action="/upload-document" method="POST" enctype="multipart/form-data">
              <header>Drop A File Here to Upload</header>
              <br>
              <span>OR</span>
              <input type="file" name="userdoc" id="userdoc" value="Upload" hidden>
              <br>
              <input type="button" value="Click to Upload" id="upload-button" class="actbtn btn btn-lg btn-primary">
              <br> <br>
              <button class="actbtn btn btn-lg btn-primary" id="submit-button"
                onclick="toggle_visibility('contact-popup');">Submit</button>
            </form>
          </div>
         <!-- </form> -->

        <div class="popup-position" id="contact-popup">
          <%- include /partials/modal %>
        </div>

        <!--
              <form action="/upload" method="post" enctype="multipart/form-data">            
                <button id="upload-button">Click to Upload</button>
                <input type="file" name="userdoc" value="Upload" hidden>
                <button class="actbtn btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                <input type="button" name="createAccount" value="Create Account" class="actbtn btn btn-lg btn-primary">
                <p>Already have an Account? <a href="index.html">Log In</a></p>
              </form>
              -->

      </div>
    </div>

  </main>
</body>
<script src="/public/script.js"></script>
<script src="/public/js/modal.js"></script>

</html>