<!--View for the print page-->
<div class="container">
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row" style="background-color: gold;">
            <div class="col-lg-1" style="background-color: black;">

            </div>

            <div class="col-lg-2">

            </div>

            <div class="col-lg-6">
              <div class="p-4">
                <div class="text-center">
                  <h1 class="h2 text-gray-900 mb-4">Welcome to Digi-Print!</h1>
                </div>

                <form class="user" action="/download" method="POST">
                  <div class="form-group">
                    <input type="number" class="form-control form-control-user text-center" id="otp" name="otp"
                      placeholder="Enter Document Print Code" required>
                  </div>

                  <div class="text-center">
                    <button class="btn-lg btn-primary btn-user" type="submit">Print</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>