<!--View for the priority files page-->
<div class="wrapper">
  <%- include ../home %>

    <div id="pagewrapper">
      <h2>Welcome to your Priority Docs box</h2>
      <label for="fileUpload" class="btn btn-primary btn-lg m-2 h5 p5">
        Choose File
        <input type="file" id="priFileUpload" name="uploadedFile" style="display:none;">
      </label>
      <%- include ../partials/docArea %>
    </div>
</div>